# FastAPI 服务
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_WORKERS_COUNT=1
SERVER_RELOAD=true
SERVER_ENVIRONMENT=dev
SERVER_LOG_LEVEL=INFO

# PostgreSQL
SERVER_DB_HOST=localhost
SERVER_DB_PORT=5432
SERVER_DB_USER=server
SERVER_DB_PASS=server
SERVER_DB_BASE=server
SERVER_DB_ECHO=false
